@import url('../node_modules/document-model-libs/dist/document-model-libs.css');
@import url('../node_modules/@powerhousedao/design-system/dist/style.css');

@tailwind components;
@tailwind utilities;

:root {
    --app-height: calc(100vh - 32px);
    --search-bar-width: 642px;
}
