@import url('../node_modules/document-model-libs/dist/style.css');
@import url('../node_modules/@powerhousedao/design-system/dist/style.css');
@tailwind components;
@tailwind utilities;

:root {
    --app-height: calc(100vh - 32px);
}

body {
    margin: auto;
    height: 100vh;
}

input,
select {
    background-color: transparent;
    margin: 0 4px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: hsl(var(--slate-50));
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: hsl(var(--twc-slate-100));
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--white));
}

@layer components {
    .h2 {
        @apply text-4xl font-bold tracking-[-1.6px];
    }
}
