@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "react-toastify/dist/ReactToastify.css";
@import "tailwindcss";
@plugin "tailwind-scrollbar";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", sans-serif;

  --color-white: hsl(0 0% 100%);
  --color-black: hsl(0 0% 0%);
  --color-gray-50: hsl(0 0% 99%);
  --color-gray-100: hsl(0 0% 96%);
  --color-gray-200: hsl(0 0% 94%);
  --color-gray-300: hsl(210 3% 85%);
  --color-gray-400: hsl(180 2% 78%);
  --color-gray-500: hsl(200 2% 63%);
  --color-gray-600: hsl(200 4% 44%);
  --color-gray-700: hsl(189 5% 29%);
  --color-gray-800: hsl(200 4% 26%);
  --color-gray-900: hsl(192 5% 21%);
  --color-slate-50: hsl(210 20% 96%);
  --color-slate-100: hsl(210 9% 74%);
  --color-slate-200: hsl(210 9% 48%);
  --color-slate-300: hsl(210 9% 39%);
  --color-slate-400: hsl(210 9% 30%);
  --color-slate-500: hsl(207 8% 21%);
  --color-slate-600: hsl(210 9% 13%);
  --color-slate-700: hsl(204 9% 11%);
  --color-slate-800: hsl(195 9% 9%);
  --color-slate-900: hsl(195 6% 6%);
  --color-slate-950: hsl(0 0% 0%);
  --color-blue-100: hsl(209 100% 90%);
  --color-blue-200: hsl(209 97% 85%);
  --color-blue-300: hsl(209 100% 80%);
  --color-blue-400: hsl(209 100% 75%);
  --color-blue-500: hsl(209 100% 70%);
  --color-blue-600: hsl(209 100% 65%);
  --color-blue-700: hsl(209 100% 60%);
  --color-blue-800: hsl(209 100% 55%);
  --color-blue-900: hsl(209 100% 50%);
  --color-green-100: hsl(134 51% 89%);
  --color-green-200: hsl(135 52% 83%);
  --color-green-300: hsl(136 52% 77%);
  --color-green-400: hsl(136 53% 72%);
  --color-green-500: hsl(136 53% 66%);
  --color-green-600: hsl(136 53% 60%);
  --color-green-700: hsl(136 52% 55%);
  --color-green-800: hsl(136 53% 49%);
  --color-green-900: hsl(136 53% 43%);
  --color-purple-100: hsl(262 79% 93%);
  --color-purple-200: hsl(263 79% 89%);
  --color-purple-300: hsl(263 79% 85%);
  --color-purple-400: hsl(264 77% 81%);
  --color-purple-500: hsl(264 77% 77%);
  --color-purple-600: hsl(263 76% 74%);
  --color-purple-700: hsl(263 78% 70%);
  --color-purple-800: hsl(263 78% 66%);
  --color-purple-900: hsl(263 78% 63%);
  --color-red-100: hsl(3 82% 96%);
  --color-red-200: hsl(3 82% 91%);
  --color-red-300: hsl(6 82% 87%);
  --color-red-400: hsl(5 82% 83%);
  --color-red-500: hsl(5 80% 78%);
  --color-red-600: hsl(4 81% 74%);
  --color-red-700: hsl(4 81% 69%);
  --color-red-800: hsl(5 81% 61%);
  --color-red-900: hsl(5 81% 56%);
  --color-orange-100: hsl(33 100% 90%);
  --color-orange-200: hsl(32 100% 85%);
  --color-orange-300: hsl(32 100% 80%);
  --color-orange-400: hsl(32 100% 75%);
  --color-orange-500: hsl(33 99% 70%);
  --color-orange-600: hsl(32 100% 65%);
  --color-orange-700: hsl(32 100% 60%);
  --color-orange-800: hsl(33 100% 55%);
  --color-orange-900: hsl(32 100% 50%);
  --color-yellow-100: hsl(46 100% 94%);
  --color-yellow-200: hsl(47 100% 86%);
  --color-yellow-300: hsl(47 100% 79%);
  --color-yellow-400: hsl(47 100% 69%);
  --color-yellow-500: hsl(47 100% 60%);
  --color-yellow-600: hsl(47 100% 57%);
  --color-yellow-700: hsl(47 100% 51%);
  --color-yellow-800: hsl(47 100% 50%);
  --color-yellow-900: hsl(47 100% 49%);
  --color-charcoal-100: hsl(214 16% 92%);
  --color-charcoal-200: hsl(219 17% 84%);
  --color-charcoal-300: hsl(221 17% 67%);
  --color-charcoal-400: hsl(17 17% 58%);
  --color-charcoal-500: hsl(219 17% 50%);
  --color-charcoal-600: hsl(221 16% 43%);
  --color-charcoal-700: hsl(219 17% 34%);
  --color-charcoal-800: hsl(221 17% 26%);
  --color-charcoal-900: hsl(220 17% 17%);
  --color-transparent: transparent;
  --shadow-modal:
    0px 0px 24px 4px rgba(0, 0, 0, 0.05),
    0px 44px 48px -12px rgba(0, 0, 0, 0.15), 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
  --shadow-tab: 0px 16px 16px -4px rgba(0, 0, 0, 0.1);
  --shadow-sidebar:
    0px 33px 32px -16px rgba(0, 0, 0, 0.1), 0px 0px 16px 4px rgba(0, 0, 0, 0.04);
  --shadow-tooltip:
    0px 2px 8px 0px rgba(0, 0, 0, 0.05),
    0px 44px 48px -12px rgba(0, 0, 0, 0.15),
    0px 0px 24px 4px rgba(0, 0, 0, 0.05);
  --shadow-button:
    0px -1px 1px 0px rgba(0, 0, 0, 0.04) inset,
    0px 2px 0px 0px rgba(255, 255, 255, 0.25) inset,
    0px 4px 8px -4px rgba(0, 0, 0, 0.1);

  --animate-fade-in: fadeIn 0.3s ease-in-out;
  --animate-fade-out: fadeOut 0.1s ease-in-out;
  --animate-zoom-in: zoomIn 0.3s ease-in-out;
  --animate-zoom-out: zoomOut 0.1s ease-in-out;
  --animate-slide-in-from-top: slideInFromTop 0.2s ease-in-out;
  --animate-slide-in-from-bottom: slideInFromBottom 0.2s ease-in-out;
  --animate-slide-in-from-left: slideInFromLeft 0.2s ease-in-out;
  --animate-slide-in-from-right: slideInFromRight 0.2s ease-in-out;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes zoomIn {
    0% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes zoomOut {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.95);
    }
  }
  @keyframes slideInFromTop {
    0% {
      transform: translateY(-0.5rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slideInFromBottom {
    0% {
      transform: translateY(0.5rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(0.5rem);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(-0.5rem);
    }
    100% {
      transform: translateX(0);
    }
  }
}
:root {
  /* Toastify */
  --toastify-toast-min-height: 48px;
  --toastify-toast-bd-radius: 8px;
  --toastify-text-color-light: var(--color-gray-800);

  --toastify-color-progress-info: var(--color-gray-300);
  --toastify-color-progress-success: var(--color-gray-300);
  --toastify-color-progress-warning: var(--color-gray-300);
  --toastify-color-progress-error: var(--color-gray-300);
  --toastify-color-progress-light: var(--color-gray-300);
  /* Toastify end */
}

html:has(dialog[open]) {
  overflow: hidden;
}

.checkbox-container input[type="checkbox"] {
  accent-color: var(--color-gray-900);
}

/* React Multi Select */
.rmsc {
  --rmsc-main: var(--color-gray-300) !important;
  --rmsc-hover: var(--color-gray-100) !important;
  --rmsc-selected: var(--color-gray-300) !important;
}
/* React Multi Select end */

/* Toastify */
.Toastify__toast-body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.Toastify__toast {
  box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.32);
  padding: 12px 16px 12px 16px;
}

.Toastify__progress-bar--wrp {
  height: 2px;
}
/* Toastify end */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
/* Remove the increment/decrement buttons in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: var(--color-gray-900);
  }
}
