@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "react-toastify/dist/ReactToastify.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  /* Modal */
  .modal-shadow {
    box-shadow:
      0px 0px 24px 4px rgba(0, 0, 0, 0.05),
      0px 44px 48px -12px rgba(0, 0, 0, 0.15),
      0px 2px 8px 0px rgba(0, 0, 0, 0.05);
  }

  .bg-overlay {
    background: rgba(20, 23, 24, 0.5);
  }

  .tab-shadow {
    box-shadow: 0px 16px 16px -4px rgba(0, 0, 0, 0.1);
  }
}

:root {
  --color-white: 0 0% 100%;
  --color-black: 0 0% 0%;
  --color-gray-50: 0 0% 99%;
  --color-gray-100: 0 0% 96%;
  --color-gray-200: 0 0% 94%;
  --color-gray-300: 210 3% 85%;
  --color-gray-400: 180 2% 78%;
  --color-gray-500: 200 2% 63%;
  --color-gray-600: 200 4% 44%;
  --color-gray-700: 189 5% 29%;
  --color-gray-800: 200 4% 26%;
  --color-gray-900: 192 5% 21%;
  --color-slate-50: 210 20% 96%;
  --color-slate-100: 210 9% 74%;
  --color-slate-200: 210 9% 48%;
  --color-slate-300: 210 9% 39%;
  --color-slate-400: 210 9% 30%;
  --color-slate-500: 207 8% 21%;
  --color-slate-600: 210 9% 13%;
  --color-slate-700: 204 9% 11%;
  --color-slate-800: 195 9% 9%;
  --color-slate-900: 195 6% 6%;
  --color-slate-950: 0 0% 0%;
  --color-blue-100: 209 100% 90%;
  --color-blue-200: 209 97% 85%;
  --color-blue-300: 209 100% 80%;
  --color-blue-400: 209 100% 75%;
  --color-blue-500: 209 100% 70%;
  --color-blue-600: 209 100% 65%;
  --color-blue-700: 209 100% 60%;
  --color-blue-800: 209 100% 55%;
  --color-blue-900: 209 100% 50%;
  --color-green-100: 134 51% 89%;
  --color-green-200: 135 52% 83%;
  --color-green-300: 136 52% 77%;
  --color-green-400: 136 53% 72%;
  --color-green-500: 136 53% 66%;
  --color-green-600: 136 53% 60%;
  --color-green-700: 136 52% 55%;
  --color-green-800: 136 53% 49%;
  --color-green-900: 136 53% 43%;
  --color-purple-100: 262 79% 93%;
  --color-purple-200: 263 79% 89%;
  --color-purple-300: 263 79% 85%;
  --color-purple-400: 264 77% 81%;
  --color-purple-500: 264 77% 77%;
  --color-purple-600: 263 76% 74%;
  --color-purple-700: 263 78% 70%;
  --color-purple-800: 263 78% 66%;
  --color-purple-900: 263 78% 63%;
  --color-red-100: 3 82% 96%;
  --color-red-200: 3 82% 91%;
  --color-red-300: 6 82% 87%;
  --color-red-400: 5 82% 83%;
  --color-red-500: 5 80% 78%;
  --color-red-600: 4 81% 74%;
  --color-red-700: 4 81% 69%;
  --color-red-800: 5 81% 61%;
  --color-red-900: 5 81% 56%;
  --color-orange-100: 33 100% 90%;
  --color-orange-200: 32 100% 85%;
  --color-orange-300: 32 100% 80%;
  --color-orange-400: 32 100% 75%;
  --color-orange-500: 33 99% 70%;
  --color-orange-600: 32 100% 65%;
  --color-orange-700: 32 100% 60%;
  --color-orange-800: 33 100% 55%;
  --color-orange-900: 32 100% 50%;
  --color-yellow-100: 46 100% 94%;
  --color-yellow-200: 47 100% 86%;
  --color-yellow-300: 47 100% 79%;
  --color-yellow-400: 47 100% 69%;
  --color-yellow-500: 47 100% 60%;
  --color-yellow-600: 47 100% 57%;
  --color-yellow-700: 47 100% 51%;
  --color-yellow-800: 47 100% 50%;
  --color-yellow-900: 47 100% 49%;
  --color-charcoal-100: 214 16% 92%;
  --color-charcoal-200: 219 17% 84%;
  --color-charcoal-300: 221 17% 67%;
  --color-charcoal-400: 17 17% 58%;
  --color-charcoal-500: 219 17% 50%;
  --color-charcoal-600: 221 16% 43%;
  --color-charcoal-700: 219 17% 34%;
  --color-charcoal-800: 221 17% 26%;
  --color-charcoal-900: 220 17% 17%;
  --transparent: transparent;
  --white: hsl(var(--color-white));
  --black: hsl(var(--color-black));
  --gray-50: hsl(var(--color-gray-50));
  --gray-100: hsl(var(--color-gray-100));
  --gray-200: hsl(var(--color-gray-200));
  --gray-300: hsl(var(--color-gray-300));
  --gray-400: hsl(var(--color-gray-400));
  --gray-500: hsl(var(--color-gray-500));
  --gray-600: hsl(var(--color-gray-600));
  --gray-700: hsl(var(--color-gray-700));
  --gray-800: hsl(var(--color-gray-800));
  --gray-900: hsl(var(--color-gray-900));
  --slate-50: hsl(var(--color-slate-50));
  --slate-100: hsl(var(--color-slate-100));
  --slate-200: hsl(var(--color-slate-200));
  --slate-300: hsl(var(--color-slate-300));
  --slate-400: hsl(var(--color-slate-400));
  --slate-500: hsl(var(--color-slate-500));
  --slate-600: hsl(var(--color-slate-600));
  --slate-700: hsl(var(--color-slate-700));
  --slate-800: hsl(var(--color-slate-800));
  --slate-900: hsl(var(--color-slate-900));
  --slate-950: hsl(var(--color-slate-950));
  --blue-100: hsl(var(--color-blue-100));
  --blue-200: hsl(var(--color-blue-200));
  --blue-300: hsl(var(--color-blue-300));
  --blue-400: hsl(var(--color-blue-400));
  --blue-500: hsl(var(--color-blue-500));
  --blue-600: hsl(var(--color-blue-600));
  --blue-700: hsl(var(--color-blue-700));
  --blue-800: hsl(var(--color-blue-800));
  --blue-900: hsl(var(--color-blue-900));
  --green-100: hsl(var(--color-green-100));
  --green-200: hsl(var(--color-green-200));
  --green-300: hsl(var(--color-green-300));
  --green-400: hsl(var(--color-green-400));
  --green-500: hsl(var(--color-green-500));
  --green-600: hsl(var(--color-green-600));
  --green-700: hsl(var(--color-green-700));
  --green-800: hsl(var(--color-green-800));
  --green-900: hsl(var(--color-green-900));
  --purple-100: hsl(var(--color-purple-100));
  --purple-200: hsl(var(--color-purple-200));
  --purple-300: hsl(var(--color-purple-300));
  --purple-400: hsl(var(--color-purple-400));
  --purple-500: hsl(var(--color-purple-500));
  --purple-600: hsl(var(--color-purple-600));
  --purple-700: hsl(var(--color-purple-700));
  --purple-800: hsl(var(--color-purple-800));
  --purple-900: hsl(var(--color-purple-900));
  --red-100: hsl(var(--color-red-100));
  --red-200: hsl(var(--color-red-200));
  --red-300: hsl(var(--color-red-300));
  --red-400: hsl(var(--color-red-400));
  --red-500: hsl(var(--color-red-500));
  --red-600: hsl(var(--color-red-600));
  --red-700: hsl(var(--color-red-700));
  --red-800: hsl(var(--color-red-800));
  --red-900: hsl(var(--color-red-900));
  --orange-100: hsl(var(--color-orange-100));
  --orange-200: hsl(var(--color-orange-200));
  --orange-300: hsl(var(--color-orange-300));
  --orange-400: hsl(var(--color-orange-400));
  --orange-500: hsl(var(--color-orange-500));
  --orange-600: hsl(var(--color-orange-600));
  --orange-700: hsl(var(--color-orange-700));
  --orange-800: hsl(var(--color-orange-800));
  --orange-900: hsl(var(--color-orange-900));
  --yellow-100: hsl(var(--color-yellow-100));
  --yellow-200: hsl(var(--color-yellow-200));
  --yellow-300: hsl(var(--color-yellow-300));
  --yellow-400: hsl(var(--color-yellow-400));
  --yellow-500: hsl(var(--color-yellow-500));
  --yellow-600: hsl(var(--color-yellow-600));
  --yellow-700: hsl(var(--color-yellow-700));
  --yellow-800: hsl(var(--color-yellow-800));
  --yellow-900: hsl(var(--color-yellow-900));
  --charcoal-100: hsl(var(--color-charcoal-100));
  --charcoal-200: hsl(var(--color-charcoal-200));
  --charcoal-300: hsl(var(--color-charcoal-300));
  --charcoal-400: hsl(var(--color-charcoal-400));
  --charcoal-500: hsl(var(--color-charcoal-500));
  --charcoal-600: hsl(var(--color-charcoal-600));
  --charcoal-700: hsl(var(--color-charcoal-700));
  --charcoal-800: hsl(var(--color-charcoal-800));
  --charcoal-900: hsl(var(--color-charcoal-900));
  --shadow-sidebar: 0px 33px 32px -16px rgba(0, 0, 0, 0.1),
    0px 0px 16px 4px rgba(0, 0, 0, 0.04);
  --shadow-tooltip: 0px 2px 8px 0px rgba(0, 0, 0, 0.05),
    0px 44px 48px -12px rgba(0, 0, 0, 0.15),
    0px 0px 24px 4px rgba(0, 0, 0, 0.05);
  --shadow-button: 0px -1px 1px 0px rgba(0, 0, 0, 0.04) inset,
    0px 2px 0px 0px rgba(255, 255, 255, 0.25) inset,
    0px 4px 8px -4px rgba(0, 0, 0, 0.1);

  /* Toastify */
  --toastify-toast-min-height: 48px;
  --toastify-toast-bd-radius: 8px;
  --toastify-text-color-light: var(--gray-800);

  --toastify-color-progress-info: var(--gray-300);
  --toastify-color-progress-success: var(--gray-300);
  --toastify-color-progress-warning: var(--gray-300);
  --toastify-color-progress-error: var(--gray-300);
  --toastify-color-progress-light: var(--gray-300);
  /* Toastify end */
}

html:has(dialog[open]) {
  overflow: hidden;
}

.checkbox-container input[type="checkbox"] {
  accent-color: var(--gray-900);
}

/* React Multi Select */
.rmsc {
  --rmsc-main: var(--gray-300) !important;
  --rmsc-hover: var(--gray-100) !important;
  --rmsc-selected: var(--gray-300) !important;
}
/* React Multi Select end */

/* Toastify */
.Toastify__toast-body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.Toastify__toast {
  box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.32);
  padding: 12px 16px 12px 16px;
}

.Toastify__progress-bar--wrp {
  height: 2px;
}
/* Toastify end */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
/* Remove the increment/decrement buttons in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--gray-900);
}
