<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.electron.connect.budget-statement</string>
			<key>UTTypeConformsTo</key>
			<array>
			<string>public.data</string>
			<string>public.archive</string>
			<string>public.zip</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Budget Statement Document</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>phbs</string>
					<string>phbs.zip</string>
				</array>
				<key>public.mimeType</key>
				<string>application/zip</string>
			</dict>
		</dict>
    <dict>
			<key>UTTypeIdentifier</key>
			<string>com.electron.connect.maker-dao.scope-framework</string>
			<key>UTTypeConformsTo</key>
			<array>
			<string>public.data</string>
			<string>public.archive</string>
			<string>public.zip</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Scope Framework Document</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mdsf</string>
					<string>mdsf.zip</string>
				</array>
				<key>public.mimeType</key>
				<string>application/zip</string>
			</dict>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>zip</string>
      </array>
      <key>CFBundleTypeIconFile</key>
      <string>electron.icns</string>
      <key>CFBundleTypeMIMETypes</key>
      <array>
        <string>application/zip</string>
      </array>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
    </dict>
    <dict>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>phbs</string>
        <string>phbs.zip</string>
        <string>mdsf</string>
        <string>mdsf.zip</string>
      </array>
      <key>CFBundleTypeIconFile</key>
      <string>electron.icns</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
    </dict>
  </array>
  </dict>
</plist>