.document-editor {
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    background-color: #aaa;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
}

.dark-mode.document-editor {
    background-color: #1A1D1F;
}

.editor-toolbar {
    width: 100%;
    height: 36px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: white;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #aaa;
}


.dark-mode .editor-toolbar {
    background-color: #141718;
    border-bottom: 1px solid #0A0A0A;
    color: #6C7275;
}

.editor-toolbar--column {
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    padding: 4px;
    margin: 0;
}

.editor-toolbar--left {
    text-align: left;
}

.editor-toolbar--center {
    width: 50%;
    text-align: center;
}

.editor-toolbar--right {
    text-align: right;
}

.toolbar-button {
    display: inline-block;
    height: 100%;
    border-radius: 5px;
    border: 1px solid transparent;
    box-sizing: border-box;
    margin: 0 4px 0 0;
    padding: 2px 6px;
    cursor: pointer;
}

.toolbar-button:hover {
    background-color: #f6f6f6;
}

.dark-mode .toolbar-button:hover {
    background-color: #323337;
    color: #D6D6D6;
}

.editor-worksheet {
    display: block;
    height: calc(100% - 36px);
    overflow-y: auto;
    padding: 1em;
    box-sizing: border-box;
}

.editor-worksheet--header-left {
    box-sizing: border-box;
    display: inline-block;
    width: 85%;
}

.editor-worksheet--header-right {
    box-sizing: border-box;
    display: inline-block;
    width: 15%;
    vertical-align: top;
}

.editor-worksheet--page {
    max-width: 60em;
    min-height: 27em;
    box-sizing: content-box;
    border: 1px solid #eee;
    background-color: white;
    padding: 6em;
    margin: 0 auto;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.4);
}

.editor-worksheet--page h1 {
    font-weight: 400;
    font-size: 28pt;
    margin: 0;
    padding: 0;
}

.editor-worksheet--page p {
    font-style: italic;
    margin: 0.25em 0 5em 0;
    padding: 0;
}

.dark-mode .editor-worksheet--page {
    background-color: #0A0A0A;
    border: 1px solid #141718;
    color: #D6D6D6;
}