@import url('../node_modules/document-model-libs/dist/style.css');
@import url('../node_modules/@powerhousedao/design-system/dist/style.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: auto;
    height: 100vh;
}

input,
select {
    background-color: transparent;
    margin: 0 4px;
}

@layer base {
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: hsl(var(--twc-accent-3));
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: hsl(var(--twc-titlebar));
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: hsl(var(--twc-bg));
    }
}

@layer components {
    .h2 {
        @apply text-4xl font-bold tracking-[-1.6px];
    }
}
