/* @import url('../node_modules/document-model-libs/dist/style.css'); */
@import url('../node_modules/document-model-libs/dist/style.css');
@import url('../node_modules/@powerhousedao/design-system/dist/style.css');
@tailwind components;
@tailwind utilities;

:root {
    --app-height: calc(100vh - 32px);
    --search-bar-width: 642px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: hsl(var(--slate-50));
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: hsl(var(--slate-100));
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--white));
}
