name: Check PR document-model

on:
    workflow_dispatch:
    push:
        branches: ['main']
        paths:
            - 'packages/document-model/**'
    pull_request:
        branches: ['main']
        paths:
            - 'packages/document-model/**'
        types: [opened, synchronize]

env:
  NX_ISOLATE_PLUGINS: false

jobs:
    lint:
        name: Lint
        runs-on: ubuntu-latest
        container: node:22

        steps:
            - uses: actions/checkout@v4

            - name: Install PNPM
              uses: pnpm/action-setup@v3
              with:
                  version: latest-8
                  run_install: false

            - name: Install Dependencies
              run: pnpm install --no-frozen-lockfile

            - name: Lint
              run: npx nx lint document-model

            - name: Check types
              run: npx nx check-types document-model

    test:
        name: Test
        runs-on: ubuntu-latest
        container: node:22

        steps:
            - uses: actions/checkout@v4

            - name: Install PNPM
              uses: pnpm/action-setup@v3
              with:
                  version: latest-8
                  run_install: false

            - name: Install Dependencies
              run: pnpm install --no-frozen-lockfile

            - name: Test
              run: npx nx test document-model

    build:
        name: Build
        timeout-minutes: 15
        runs-on: ubuntu-latest
        container: node:22
        needs: [lint, test]
        steps:
            - uses: actions/checkout@v4

            - name: Install PNPM
              uses: pnpm/action-setup@v3
              with:
                  version: latest-8
                  run_install: true

            - name: Build
              run: npx nx build document-model
