name: Check PR design-system

on:
  workflow_dispatch:
  push:
    branches: ["main"]
    paths:
      - "packages/design-system/**"
  pull_request:
    branches: ["main"]
    paths:
      - "packages/design-system/**"
    types: [opened, synchronize]

env:
  NX_ISOLATE_PLUGINS: false

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    container: node:22

    steps:
      - uses: actions/checkout@v4

      - name: Install PNPM
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Install Dependencies
        run: pnpm --filter @powerhousedao/design-system install --no-frozen-lockfile

      - name: Lint
        run: npx nx run @powerhousedao/design-system:lint

  test:
    name: Test
    runs-on: ubuntu-latest
    container: node:22

    steps:
      - uses: actions/checkout@v4

      - name: Install PNPM
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Install Dependencies
        run: pnpm --filter @powerhousedao/design-system install --no-frozen-lockfile

      - name: Test
        run: npx nx run @powerhousedao/design-system:test

  storybook:
    name: Storybook
    runs-on: ubuntu-latest
    container: node:22

    steps:
      - uses: actions/checkout@v4

      - name: Install PNPM
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Install Dependencies
        run: pnpm --filter @powerhousedao/design-system install --no-frozen-lockfile

      - name: Test
        run: npx nx run @powerhousedao/design-system:build-storybook

  build:
    name: Build
    timeout-minutes: 15
    runs-on: ubuntu-latest
    container: node:22
    steps:
      - uses: actions/checkout@v4

      - name: Install PNPM
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Install Dependencies
        run: pnpm --filter @powerhousedao/design-system install --no-frozen-lockfile

      - name: Build
        run: npx nx run @powerhousedao/design-system:build

      # - name: Bundle size
      #   uses: preactjs/compressed-size-action@v2
      #   with:
      #     install-script: "pnpm --filter @powerhousedao/design-system install --no-frozen-lockfile"
      #     build-script: "build -p @powerhousedao/design-system"
      #     pattern: "./packages/design-system/dist/**/*"
      #     strip-hash: "\\b\\w{8}\\."
