name: Full Managed Release Workflow (Manual)

on:
  workflow_dispatch:
    inputs:
      version:
        type: string
      tag:
        type: string
      dry-run:
        type: boolean
        default: true
      verbose:
        type: boolean
        default: false
      skip-publish:
        type: boolean
        default: false
      publish-only:
        type: boolean
        default: false

env:
  NX_ISOLATE_PLUGINS: false
  VERSION: ${{ inputs.version }}
  TAG: ${{ inputs.tag ||  'dev'  }}
  DRYRUN: ${{ inputs.dry-run }}

jobs:
  build-and-publish:
    name: Build and Publish Package
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    timeout-minutes: 10
    steps:
      - name: Print branch name
        run: echo "Branch name is ${{ github.ref_name }}"

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org

      - uses: pnpm/action-setup@v4
        name: Setup pnpm with cache
        with:
          version: latest
          run_install: false

      - name: Install deps (frozen lockfile)
        run: pnpm install:ci

      - name: Build typescript project
        run: pnpm tsc:build

      - name: Run misc build scripts
        run: pnpm build:misc

      - name: Run install again after generating binaries
        run: pnpm install

      - name: Run css build scripts
        run: pnpm build:css

      - name: Run vite build scripts
        run: pnpm build:vite

      - name: git config
        run: |
          git config user.name "Github Actions Bot"
          git config user.email "-"

      - name: Update pkg version and publish to npm
        run: npx tsx tools/scripts/release.ts --version=${{ inputs.version }} --tag=${{ inputs.tag }} --dry-run=${{ inputs.dry-run }} --skip-publish=${{ inputs.skip-publish }} --publish-only=${{ inputs.publish-only }} --verbose=${{ inputs.verbose }}
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
          NPM_CONFIG_PROVENANCE: true

  deploy:
    name: Deploy to environment
    needs: build-and-publish
    uses: "./.github/workflows/deploy-powerhouse.yml"
    secrets: inherit