name: Release Branch

on:
  workflow_dispatch:
    inputs:
      version:
        type: choice
        description: "Select version type (semantic-versioning will use calculated version from commit messages)"
        options:
          - semantic-versioning
          - prerelease
          - patch
          - minor
          - major
      dry-run:
        type: boolean
        default: false
      verbose:
        type: boolean
        default: false
  schedule:
    - cron: "0 2 * * *"

permissions:
  contents: write
  packages: write
  id-token: write

env:
  NX_ISOLATE_PLUGINS: false

jobs:
  build-and-publish:
    name: Build and Publish Package
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Set version and tag if branch is main or release
        run: |
          if [[ "${{ inputs.version }}" == "semantic-versioning" ]]; then
            echo "VERSION=" >> $GITHUB_ENV
          else
            echo "VERSION=${{ inputs.version }}" >> $GITHUB_ENV
          fi

          if [[ "${{ github.ref_name }}" == release* ]]; then
            echo "VERSION=" >> $GITHUB_ENV
            echo "BRANCH_RELEASE=${{ github.ref_name }}" >> $GITHUB_ENV
          fi

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org

      - uses: pnpm/action-setup@v4
        name: Setup pnpm with cache
        with:
          version: latest
          run_install: false

      - name: Install deps (frozen lockfile)
        run: pnpm install-ci

      - name: Setup bun global install
        uses: oven-sh/setup-bun@v2

      - name: Build typescript project
        run: pnpm build-tsc

      - name: Run misc build scripts
        run: pnpm build-misc

      - name: Run install again after generating binaries
        run: pnpm install

      - name: Run css build scripts
        run: pnpm build-css

      - name: Run vite build scripts
        run: pnpm build-vite

      - name: git config
        run: |
          git config user.name "Github Actions Bot"
          git config user.email "-"

      - name: Clean up non-dev tags (main branch only)
        if: github.ref_name == 'main'
        run: |
          git tag | grep -v '^v[0-9]\+\.[0-9]\+\.[0-9]\+-dev\.[0-9]\+$' | xargs -r git tag -d

      - name: Update pkg version and publish to npm
        run: npx tsx tools/scripts/release.ts --dry-run=${{ inputs.dry-run }} --version=${{ env.VERSION }} --branch-release=${{ env.BRANCH_RELEASE }} --verbose=${{ inputs.verbose }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
