name: Release

on:
  workflow_dispatch:
    inputs:
      release_mode:
        type: choice
        description: "Specify what type of release to perform. NOTE: `prerelease` is not a valid option for releasing to production."
        options:
          - prerelease
          - patch
          - minor
          - major
        default: prerelease
      dry_run:
        type: boolean
        default: false
      verbose:
        type: boolean
        default: false
      skip_publish:
        type: boolean
        default: false
      skip_changelog:
        type: boolean
        default: false
      skip_stage:
        type: boolean
        default: false
      skip_commit:
        type: boolean
        default: false
      skip_push:
        type: boolean
        default: false
      skip_git_tag:
        type: boolean
        default: false

permissions:
  contents: write
  packages: write
  id-token: write

jobs:
  release:
    name: Release packages in monorepo
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      NPM_CONFIG_PROVENANCE: true
    steps:
      - name: Log inputs
        run: |
          echo "release_mode=${{ inputs.release_mode }}"
          echo "dry_run=${{ inputs.dry_run }}"
          echo "verbose=${{ inputs.verbose }}"
          echo "skip_publish=${{ inputs.skip_publish }}"
          echo "skip_changelog=${{ inputs.skip_changelog }}"
          echo "skip_stage=${{ inputs.skip_stage }}"
          echo "skip_commit=${{ inputs.skip_commit }}"
          echo "skip_push=${{ inputs.skip_push }}"
          echo "skip_git_tag=${{ inputs.skip_git_tag }}"

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
         fetch-depth: 0

      - name: General setup
        uses: ./.github/actions/setup

      - name: Install release tool dependencies
        run: bun install
        working-directory: releases

      - name: Set git config
        run: |
          git config user.name "Github Actions Bot"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Run release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
        run: |
          pnpm run run-release -- \
          --release-mode="${{ inputs.release_mode }}" \
          --dry-run="${{ inputs.dry_run }}" \
          --verbose="${{ inputs.verbose }}" \
          --skip-publish="${{ inputs.skip_publish }}" \
          --skip-changelog="${{ inputs.skip_changelog }}" \
          --skip-stage="${{ inputs.skip_stage }}" \
          --skip-commit="${{ inputs.skip_commit }}" \
          --skip-push="${{ inputs.skip_push }}" \
          --skip-git-tag="${{ inputs.skip_git_tag }}"
